<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MyPage</title>
<link rel="stylesheet" href="/css/MyPage/MyPage.css">

</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{header :: header}"></div>

	<h1>MyPage</h1>
	<main>
		<!-- 마이페이지 회색 박스 -->
		<div class="MypageHeader">
		<div class="firstbox rightline" >
				<div class="firstboxcol">
					<span>총적립금</span> <span th:text="${total_mileage+'원'}"></span>
				</div>
				<div class="firstboxcol">
					<span>총주문</span> <span th:text="${'KRW '+totalprice+' ('+count+'회)'}"></span>
				</div>
			</div>
			<div class="firstbox">
				<div class="firstboxcol">
					<span>사용가능 적립금</span> <span th:text="${availableMileage+'원'}"></span>
				</div>
				<div class="firstboxcol">
					<span>사용 적립금</span> <span th:text="${usedMileage+'원'}">0원</span>
				</div>
			</div>
			
		</div>
		
		<!-- 나의 주문처리 현황 -->
		<div class="MyPageOrder">
			<div class="mypageordertitle">
				<span id="myorderprocess">나의 주문처리 현황 </span><span class="smalltitle">(최근
					3개월 기준)</span>
			</div>
			<div class="orderprogress">
				<div class="rightline" id="orderbefore">
					<span>입금전</span> <span>0</span>
				</div>
				<div class="rightline" id="orderprepare">
					<span>배송준비중</span> <span>0</span>
				</div>
				<div class="rightline" id="ordering">
					<span>배송중</span> <span>0</span>
				</div>
				<div id="orderfinish">
					<span>배송완료</span> <span>0</span>
				</div>
				<!-- <div id="ordertotal">
					<ul style="list-style-type: circle; list-style-position: inside;">
						<li>취소 : <span>0</span></li>
						<li>교환 : <span>0</span></li>
						<li>반품 : <span>0</span></li>
					</ul>
				</div> -->
			</div>
		</div>

		<!-- 마이페이지 분류 버튼 -->
		<div class="mypagebuttons">
			<div class="mypagebutton">
				<a href="/order" class="mypagebuttondetail">
					<div>
						<span>📜</span> 주문내역 조회 
					</div>
					<div class="buttoncontent">
						고객님께서 주문하신 상품의</br>주문내역을 확인하실수 있습니다.
					</div>
				</a>
			</div>
			<div class="mypagebutton">
				<a href="/modify" class="mypagebuttondetail">
					<div>
						<span>👨‍👩‍👦</span> 회원 정보 
					</div>
					<div class="buttoncontent">
						회원이신 고객님의 개인정보를</br>관리하는 공간입니다.
					</div>
				</a>
			</div>
			<div class="mypagebutton">
				<a href="/wishlist" class="mypagebuttondetail">
					<div>
						<span>♥️</span> 관심 상품 
					</div>
					<div class="buttoncontent">
						관심상품으로 등록하신</br>상품의 목록을 보여드립니다.
					</div>
				</a>
			</div>
			<div class="mypagebutton">
				<a href="/mileage" class="mypagebuttondetail">
					<div>
						<span>💰</span> 적립금 
					</div>
					<div class="buttoncontent">
						적립금은 상품 구매시</br>사용하실 수 있습니다.
					</div>
				</a>
			</div>
			<div class="mypagebutton">
				<a href="/address" class="mypagebuttondetail">
					<div>
						<span>🏡</span> 배송 주소록 관리
					</div>
					<div class="buttoncontent">
						자주 사용하는 배송지를 등록하고</br>관리하실 수 있습니다.
					</div>
				</a>
			</div>
		</div>

	</main>
	
	<!-- 푸터 -->
	<div th:replace="~{footer :: footer}"></div>

</body>
</html>