<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Order</title>
<link rel="stylesheet" href="/css/MyPage/order.css">

</head>
<body>
	<!-- 헤더푸터-->
	<div th:replace="~{header :: header}"></div>

	<h1><span>📜</span> 주문내역 조회 </br>
	<p class="addressp">고객님께서 주문하신 상품의 주문내역을 확인하실수 있습니다.</p></h1>
	<main>
		<div class="OrderHeader">
			<div class="greybox">
				<select class="orderselect">
					<option>입금전</option>
					<option>배송준비중</option>
					<option>배송중</option>
					<option>배송완료</option>
					<option>취소</option>
					<option>교환</option>
					<option>반품</option>
				</select> <span class="daybuttons">
					<button class="daybutton">오늘</button>
					<button class="daybutton">1주일</button>
					<button class="daybutton">1개월</button>
					<button class="daybutton">3개월</button>
					<button class="daybutton">6개월</button>
				</span>
				<form class="orderheaderform">
						<input type="date" id="startdate" name="startdate" required>
						~
						<input type="date" id="enddate" name="enddate" required>
					<button class="ordersearch">조회</button>
				</form>
			</div>
		</div>
		<p style="color: grey;">○ 주문내역은 최대 6개월까지만 조회 가능합니다.</p>
		<div class="ordermain">
			<div class="ordermaintitle">주문 상품 정보</div>
			<div class="order_main">
			<div class="ordercontent">
				<span>주문일자</br>[주문번호]</span>
				<span>이미지</span>
				<span>상품정보</span>
				<span>수량</span>
				<span>상품구매금액</span>
				<span>주문처리상태</span>
				<span>취소/교환/반품</span>
			</div>
			
			<!-- 주문 내역이 있을 경우 (orderList model명)-->
			<div th:if="${orderList != null && !orderList.isEmpty()}">
				<div>주문 내역이 있습니다.</div>
			</div>
			<div th:unless="${orderList != null && !orderList.isEmpty()}" class="orderlist">
				<!-- 주문 내역이 없는 경우 -->
				<div class="order_null">주문 내역이 없습니다.</div>
			</div>
			</div>
		</div>
	</main>

	<div th:replace="~{footer :: footer}"></div>

</body>
</html>