<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Notice</title>
<link rel="stylesheet" href="/css/Notice/NoticeHome.css">
</head>
<body>
	<!-- 헤더 -->
	<div th:replace="~{header :: header}"></div>

	<main>
		<h1>📋NOTICE</h1>

		<!-- 공지 작성 버튼 -->
		<div class="write-notice" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
		    <button onclick="window.location.href='/notices/new'">공지 작성</button>
		</div>


		<table class="notice-table">
		    <thead>
		        <tr>
		            <th>번호</th>
		            <th>제목</th>
		            <th>작성자</th>
		            <!-- 관리자만 보이는 열 -->
		            <th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">관리자 전용</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="notice : ${notices}">
		            <td th:text="${notice.id}"></td>
		            <td>
		                <a th:href="@{/notices/view/{id}(id=${notice.id})}" th:text="${notice.title}"></a>
		            </td>
		            <td th:text="'👩‍💼'+${notice.author}"></td>
		            <!-- 관리자만 보이는 삭제 버튼 -->
		            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
		                <form th:action="@{/notices/delete/{id}(id=${notice.id})}" method="post" onsubmit="return confirmDelete();">
		                    <button type="submit">❌</button>
		                </form>
		            </td>
		        </tr>
		    </tbody>
		</table>

		<div class="pagination">
			<!-- 이전 버튼 -->
			<button th:if="${currentPage > 0}"
				th:onclick="'location.href=\'?page=' + (${currentPage} - 1) + '&size=' + ${pageSize} + '\';'">&lt;</button>

			<!-- 페이지 번호 -->
			<span th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
				th:classappend="${i == currentPage} ? 'active' : ''"
				th:onclick="'location.href=\'?page=' + ${i} + '&size=' + ${pageSize} + '\';'"
				th:text="${i + 1}"> </span>

			<!-- 다음 버튼 -->
			<button th:if="${currentPage < totalPages - 1}"
				th:onclick="'location.href=\'?page=' + (${currentPage} + 1) + '&size=' + ${pageSize} + '\';'">&gt;</button>
		</div>



		<!-- 검색 섹션 -->
		<div class="search-section">
			<form th:action="@{/notices}" method="get">
				<label for="search-option">검색 옵션:</label>
				<select id="search-option" name="option">
					<option value="title">제목</option>
					<option value="content">내용</option>
					<option value="title_content">제목+내용</option>
					<option value="author">작성자</option>
				</select>
				<input type="text" id="search-input" name="keyword" placeholder="검색어를 입력하세요" />
				<button type="submit">검색</button>
			</form>
		</div>
	</main>
	<script>
		function confirmDelete() {
			return confirm('공지사항을 삭제하시겠습니까?'); // 확인 팝업
		}
	</script>


	<!-- 푸터 -->
	<div th:replace="~{footer :: footer}"></div>
</body>
</html>
