<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A 비밀글</title>
    <link rel="stylesheet" href="/css/Notice/secretPage.css">
</head>
<body>
 	<!-- 헤더-->
	<div th:replace="~{header :: header}"></div>
	
    <div class="main-container">
        <h1>Q&A</h1>
        <p>상품 Q&A입니다.</p>

        <div class="comment-section">
            <p>이 글은 비밀글입니다. 비밀번호를 입력하여 주세요.<br>
            관리자는 확인만 누르면 됩니다.</p>
        </div>

        <div class="input-group">
            <input type="password" placeholder="비밀번호">
            <button>확인</button>
        </div>

        <div class="input-group">
            <button onclick="goBack()">목록</button>
        </div>
    </div>
    
            <!--푸터-->
    <div th:replace="~{footer :: footer}"></div>
    
	<script>
	   function goBack() {
	     window.history.back(); // 이전 페이지로 이동
	  }
	</script>
</body>
</html>
