@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'omyu_pretty';
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
}

/* 메인 콘텐츠 */
main {
	margin: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto; /* 수평으로 가운데 정렬 */
}

h1 {
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 20px;
	padding: 20px;
}

.addressp {
	color: grey;
	text-align:center;
	font-size:15px;
	margin-top:10px;
}

.addressmain {
	border: 1px solid grey;
	margin-bottom: 10px;
}

.addresscontent {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	text-align: center;
	padding:10px;
	border-bottom: 1px solid grey;
}

.addresscontent span {
	font-size: 17px;
}

.addresslist {
	padding:10px;
}

.addressform {
		display: flex;
    flex-direction: column;
	align-items: flex-end;
}

.addressform input {
	margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addresssubmit {
	color: white;
	background-color: black;
	width: 10%;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.popup-button {
	background-color: black;
    color: white;
    height: 65%;
    width: 90%;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.popup-button:hover {
    background-color: darkblue;
}

/* 팝업 오버레이 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* 반투명 배경 */
    z-index: 1000; /* 팝업이 다른 내용 위에 표시되도록 */
    display: none; /* 기본적으로 숨겨놓기 */
    justify-content: center;
    align-items: center;
}

/* Popup background */
.popup-container {
    display: none; /* 처음에 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 불투명 배경 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 팝업이 다른 내용 위에 표시되도록 */
}

/* Popup content */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px; /* 팝업 크기 조정 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        display: flex;
    flex-direction: column;
    gap: 35px
}

.popup-title {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.popup-input {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-content: center;
	align-items:center;
}

.closebutton {
	display:flex;
	justify-content: flex-end;
	background: transparent;
	border: none;
	cursor: pointer;
}

.popup-button-div {
	display: flex;
    justify-content: flex-end;
    width: 100%;
}

.popup-button2 {
	background: black;
	width: 15%;
	background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.addressfooter {
	margin-top:30px;
	border: 1px solid grey;
}

.addressnotice {
	background-color:lightgrey;
	padding:10px;
	font-size: 17px;
}

.addressexplane {
	padding:7px;
}