@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'omyu_pretty';
	align-content: center;
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height:100%;
}

/* 메인 콘텐츠 */
main {
	margin: 20px;
	height:100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

.MypageHeader {
	height: 15%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 5px solid lightgrey;
	padding: 10px;
	font-size: 15px;
}

.firstbox {
	padding: 10px;
}

.rightline {
	border-right: 1px solid lightgrey;
}

.MileageSearch {
	display: inline-block;
}

.MileageSearchButton {
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 2px; /* 모든 모서리 둥글게 */
}

.MyPageOrder {
	border: 1px solid lightgrey;
	height: 20%;
}

.mypageordertitle {
	height:30%;
	padding-left:10px;
}

.smalltitle {
	font-size: 10px;
	color: lightgrey;
}

.orderprogress {
	height:70%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	border-top: 1px solid lightgrey;
	text-align: center;
}

.mypagebuttons {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 7px;
	text-align: center;
	height: 60%;
}

.mypagebutton {
	padding: 10px;
	border: 1px solid lightgrey;
}

.mypagebutton:hover {
	border: 1px solid black;
}

.mypagebutton .buttoncontent {
	font-size: 10px;
	color: grey;
}

.buttons {
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}