@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'omyu_pretty';
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 메인 콘텐츠 */
main {
    margin: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.MypageHeader {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 5px solid lightgrey;
	padding: 10px;
	font-size: 15px;
}

.firstbox {
	border-right: 1px solid lightgrey;
}

.MileageSearch {
	display: inline-block;
}

.MileageSearchButton {
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 2px; /* 모든 모서리 둥글게 */
}

.MyPageOrder {
	border: 1px solid lightgrey;
	margin-top: 10px;
	margin-bottom: 10px;
}

.smalltitle {
	font-size: 10px;
	color: lightgrey;
}

.orderprogress {
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	border-top: 1px solid lightgrey;
	text-align: center;
}

.ordermypage {
	border-right: 1px solid lightgrey;
    align-content: center;
}

.mypagebuttons {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	text-align: center;
}

.mypagebutton {
	padding: 10px;
	border: 1px solid lightgrey;
}

.mypagebutton:hover {
	border: 1px solid black;
}

.mypagebutton p {
	font-size: 10px;
	color: grey;
	margin-top: 10px;
}

.buttons {
	color: black;
	text-decoration: none;
}