@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'omyu_pretty';
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
}

/* 메인 콘텐츠 */
main {
	margin: 20px;
	height: 100%;
	width: 80%;
	margin: 0 auto;  /* 수평으로 가운데 정렬 */
}

h1 {
	font-size: 24px;
	text-align: center;
	color: #333;
	padding:20px;
	margin-bottom: 20px;
}

.wishlist {
	border: 1px solid lightgrey;
}

.wishlistcontent{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	align-items: center;
    justify-items: center;
}


.wishlist_time {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    align-items: center;
    justify-items: center;
}

.wishlist_form {
	display: flex;
	flex-direction: column;
	gap:5px;
	    width: 45%;
}

.wishlist_delete, .wishlist_cart {
    background-color: transparent;
    border: 1px solid grey;
    color: black;
    cursor: pointer;
}

.wishlist_delete:hover, .wishlist_cart:hover {
    background-color: #f0f0f0;
}

.wishlistcontent span, .address_time span {
    text-align: center;
    padding: 5px;
}

.wishlistcontent span:nth-child(1) {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}