@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'omyu_pretty';
	color:#555;
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
}

/* 메인 콘텐츠 */
main {
	margin: 20px;
	height: 100%;
	width: 60%;
	margin: 0 auto;  /* 수평으로 가운데 정렬 */
		margin-bottom: 30px;
}

h1 {
	font-size: 24px;
	text-align: center;
	color: #333;
	padding:20px;
	margin-bottom: 20px;
}

.addressp {
	color: grey;
	text-align:center;
	margin-top:10px;
	font-size:15px;
}

.wishlist {
	border-top: 1px solid lightgrey;
	 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 테이블 그림자 효과 */
}

.wishlistcontent{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	align-items: center;
    justify-items: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid lightgrey;
}

.wishlistcontent span {
	color:#333;
}

.wishlist_time {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
    align-items: center;
    justify-items: center;
}

.wishlist-image {
    width: 100%;      
    max-width: 80px;  
    height: auto;
    object-fit: cover;

}

.wishlist_form {
	display: flex;
	flex-direction: column;
	gap:5px;
	    width: 45%;
}

.wishlist_delete, .wishlist_cart {
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
}

.wishlist_delete:hover, .wishlist_cart:hover {
    background-color: #f0f0f0;
}

.wishlistcontent span, .address_time span {
    text-align: center;
    padding: 5px;
}

.wishlistcontent span:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishlist_null {
	border-top: 1px solid #ddd;
    padding: 10px;
    align-items: center;
    justify-items: center;
    text-align: center;
}