@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'omyu_pretty';
}    

body {
	
    margin: 0;
    padding: 0;
    color: #333;
}

.main-container {
    max-width: 1024px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.main-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.comment-section {
    margin-top: 20px;
}

.comment-section p {
    color: red;
    font-size: 14px;
}

.input-group {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input-group input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #555;
}