@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

.container {
	max-width: 768px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.section {
	margin-bottom: 20px;
}

.section-title {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.form-row label {
	flex: 0 0 120px;
	font-size: 0.9rem;
	font-weight: bold;
}

.form-row input, .form-row select, .coupon-row input {
	flex: 1;
	padding: 8px;
	font-size: 0.9rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-row input[type="checkbox"] {
	flex: 0;
	margin-right: 10px;
}

.coupon-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: space-between; /* 요소 간 정렬 */
}

.coupon-row input, .coupon-row #current-points, .coupon-row #discount-amount
	{
	text-align: right;
}

.product-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.product-item img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	margin-right: 10px;
}

.product-details {
	font-size: 0.9rem;
}

.summary-row {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
	margin: 10px 0;
}

.summary-total {
	font-weight: bold;
	font-size: 1rem;
}

.button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #333;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 20px;
}

.button:hover {
	background-color: #555;
}

#use-all-points {
	background-color: white;
	border: 1px solid #ccc;
	height: 34px;
	border-radius: 4px;
}

button:hover {
	cursor: pointer;
}

#addBtn {
	padding: 8px;
	border: none;
	background-color: #333;
	color: #fff;
	border-radius: 4px;
}